#footer h5 {
	padding-left: 10px;
	border-left: 3px solid white;
	color: white;
}

#footer ul {
	padding-left: 0px;
}

.footer-link {
	font-size: smaller;
}

div.sphx-glr-download a  {
	background-color: #990000;
}

div.sphx-glr-download-link-note {
    height: 0px;
    visibility: hidden;
}